header {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: -25px; }

video {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -5; }

img {
  float: left;
  height: 75px;
  margin-left: 75px;
  margin-top: 10px; }

nav {
  font-family: sans-serif;
  margin-top: 20px;
  margin-right: 10px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right; }

li {
  display: inline-block;
  margin-left: 5px; }

a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #305291; }

a:hover {
  background-color: white;
  color: #305291; }

.dropdown {
  position: relative; }

.drop-nav {
  position: absolute;
  display: none; }

.drop-nav li {
  width: 150px;
  margin: 0; }

.dropdown:hover .drop-nav {
  display: block; }

.Headerbox {
  font-family: sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

h1 {
  text-align: center;
  text-transform: uppercase;
  clear: both;
  font-family: sans-serif;
  color: #305291;
  font-size: 45px; }

.protecting {
  color: white;
  text-align: center;
  text-transform: uppercase;
  clear: both;
  font-family: sans-serif;
  font-size: 20px; }

.title {
  height: 300px;
  background-color: #305291;
  position: relative; }

.pledgebody {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.pledge {
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  clear: both;
  font-family: sans-serif;
  margin-bottom: 20px; }

.pledgetext {
  margin-top: 10px;
  color: white;
  font-family: sans-serif;
  line-height: 25px;
  text-align: center; }

.mainbody {
  background-color: #f2f2f2; }

.issuesgroup {
  width: 60%;
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-top: -25px;
  padding-bottom: 30px; }

.issues {
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  clear: both;
  font-family: sans-serif;
  margin-bottom: 20px;
  color: #666666; }

.issuestext {
  color: #666666;
  font-family: sans-serif;
  line-height: 25px;
  text-align: center; }

.mainbox {
  height: 300px;
  width: 22%;
  background-color: white;
  margin: 9px;
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .mainbox h3 {
    text-align: center;
    text-transform: uppercase;
    color: #305291; }
  .mainbox i {
    font-size: 30px;
    border: 1px solid #305291;
    color: #305291;
    padding: 10px;
    border-radius: 50%;
    width: 30px; }
  .mainbox i:hover {
    background-color: #305291;
    color: white; }
  .mainbox .fa {
    display: inline-block; }
  .mainbox p {
    text-align: center; }

footer {
  border-top: 1px solid black;
  padding-top: 10px;
  color: #305291;
  font-family: sans-serif; }

footer p {
  display: inline-block;
  width: 33%;
  text-align: center; }

@media (max-width: 767px) {
  video {
    width: auto; }

  .pledgebody {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

  .issuesgroup, footer, .mainbox {
    width: 100%;
    padding: 5px; }

  .mainbox {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: block; }

  footer p {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
